
Data/Belgica/.ipynb_checkpoints/

Data/Belgica/mat_2018_08_19_00h28m05s_Parkwind_HDAS_2Dmap_StrainData_2D.mat

Data/Belgica/Untitled.ipynb

Data/Belgica/das_worst.txt

*.xml

.idea/

*.zip

*.png

Data/California/FSE-06_1080SecP_SingDec_StepTest.mat

Data/California/FSE-06_240SecP_SingDecStep.mat

*.mat

*.dat

*.ipynb

*.segy

*.sgy

*.ascii

Data/Reykjanes/README.docx

Data/Reykjanes/README.pdf

Data/STEAD/Train_data_v2.hdf5

*.hdf5

*.pyc

Data/Francia/francia_results.txt
